.char1{
  font-size: 4em;
  color: #FFFFFF;

}

.char2{
  font-family: 'Millimetre', sans-serif;
  font-size: 2em;
  color: #FFFFFF;


}

.char3{
  font-family: 'Sporting Grotesque', sans-serif;
  font-size: 3em;
  color:  #FFFFFF;

}

.char4{

  font-size: 2em;
  color:  #FFFFFF;

}
.char5{
    font-family: 'ZIGZAG Rounded', sans-serif;
  font-size: 2.5em;
  color:  #FFFFFF;

}

.char6{
  font-size: 2em;
  color:  #FFFFFF;

}

.char7{
  font-size: 2em;
  color:  #FFFFFF;

}

.char8{

  font-size: 4em;
  color: #FFFFFF;

}

.char9{
    font-family: 'Bluu Next', sans-serif;
  font-size: 3em;
  color: #FFFFFF;

}

.char10{

  font-size: 2em;
  color:  #FFFFFF;

}

.char11{
    font-family: 'Bluu Next', sans-serif;
  font-size: 2.5em;
  color:  #FFFFFF;

}

.char12{
  font-size: 1.5em;
  color: #FFFFFF;

}

.char13{
  font-family: 'Millimetre', sans-serif;
  font-size: 2em;
  color:  #FFFFFF;

}
.char14{
  font-size: 3em;
  color:  #FFFFFF;

}
.char15{
  font-family: 'Sporting Grotesque', sans-serif;
  font-size: 2em;
  color:  #FFFFFF;

}


body {
font-family: 'Sporting Grotesque', sans-serif;
}

header {
font-family: 'Savate', sans-serif;
color: #FFFFFF;
background-image: url('images/moi1.jpg');
background-attachment: fixed;
min-height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    display: flex;
    justify-content: center;
    align-items: center;
}


header p {
  font-size: 1.5em;
margin-left: 13vh;
font-family: 'Sporting Grotesque', sans-serif;
}

/*
.header-content-block {
padding: 1em;
background-color: rgba(255, 227, 255, 0.3);
}
*/

.header-content-block h1 {
  font-family: 'Savate', sans-serif;
    font-size: 2.5em;
    color: #FFFFFF ;
  }



section h1{
font-size: 3em;
padding: 1em;
margin-top: 0vh;
font-family: 'Helvetica neue gras', sans-serif;
color: #000000  ;
-webkit-text-stroke: 0.5px #FFFFFF ;

}


#bio {
background-color: #000000 ;
color: #FFFFFF    ;
padding: 1em;
margin-top: 0vh;
}

#bio h1 {

}


.bio-content-block {
  max-width: 46em;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10vh;
}


#comp {
background-color: #000000;

}

#comp h1 {
  color: #000000;
  -webkit-text-stroke: 0.5px #FFFFFF ;

}

.comp-section-content {
display:flex;
justify-content: space-around;
flex-wrap: wrap;
}

.comp-content {
  margin: 20px;
  width: 320px;
  background-image: linear-gradient(to top, rgba(0, 0, 0,1), rgba(255, 255, 255,1));
  color: #FFFFFF;
padding-left: 1em;
padding-right: 1em;
padding-bottom: 1em;
}


.comp-content img {
  width: 100%;
}

.comp-content p {
  padding: 1em;

}

.comp-content a {
  display: block;
  padding: 1em;
  float: right;
  color: #FFFFFF;
 font-family: 'Savate', sans-serif;
 text-decoration: none;
 font-size: 1.2em;
 background-color: #000000;
 padding: 0.2em;
 border: 2px solid #92A6E1;
 border-radius: 1em;
box-shadow: 13px 13px 24px -6px rgba(209,48,48,1);
transition: all 0.30s ease;
}

.comp-content a:hover {
  box-shadow: 14px 15px 11px -7px  rgba(170,214,235,1);
  background-color: #FFFFFF;
  color: #000000;
 }

#portfolio {
background-color: #000000  ;

}

#portfolio h1{
  color: #000000;
  -webkit-text-stroke: 0.5px #FFFFFF ;
}

.portfolio {
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
padding-top: 4em;
}

.portfolio-content {
  padding-bottom: 2em;
  max-width: 200px;
  margin : 12px;
}

.portfolio-content img {
  width : 100%;
}


footer {
background-color:#000000   ;
padding: 4em;
padding-bottom: 0.5em;
padding-left: 3em;
font-size: 1.2em;
display:flex;
justify-content: space-around;
flex-wrap: wrap;

}

.address {
 color: #FFFFFF;
margin-top: 130px;


}

.social-links {
  float: right;
  margin-bottom:50px;
margin-top: 0px;

}

img {
  opacity: 1.0;
  filter: alpha(opacity=100);


}

img:hover {
  opacity: 0.3;
      filter: alpha(opacity=30);
  }


.social-links a{
  text-align: right;
  font-family: 'Savate', sans-serif;
  display: block;
  color: #FFFFFF ;
  text-decoration: none;
 font-size: 2em;
 padding: 0.2em;
 border-radius: 1em;
transition: all 0.25s ease;

}

.social-links a:hover {

 text-decoration: line-through;
  color: #FFFFFF;
/*  -webkit-text-stroke: 2px #FFFFFF ;/*
 }
